{% include 'partials/head.html.twig' %}


<body class="{{ page.header.body_classes }}">
<div class="container container-main">

        {% include 'partials/header.html.twig' %}
    
        {% include 'partials/navigation.html.twig' %}
    
    <div class="container-fluid hidden-xs">
	<div class="row">
		<div class="col-sm-12">
            
            {% include 'partials/breadcrumbs.html.twig' %}
            
		</div>
	</div>
</div>
    
    <!--<div class="container-fluid">
		<div class="row">
			
				<div class="col-sm-4 col-md-3 drilldown"></div>
				<div class="col-sm-8 col-md-9" id="content">
					<div class="row">
						<div class="row">
	<div class="col-md-8">
		<div class="visible-xs visible-sm">
			<p>
				<a href="#context-sidebar" class="icon icon--before icon--root hidden">Context sidebar</a>
                
			</p>
		</div>
        
		<a href="#" onclick="$.printPreview.printPreview()" class="icon icon--before icon--print pull-right js-print-link"></a>
			<div class="content-text">
                
                
                
            </div>
    </div>
                            
                            
                            
                            
</div>

					</div>
				</div>
            
            
			
			
		</div>

		
	</div>-->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="container-fluid">
      <div class="row">
          
          {% block pagecontent %}           
                
          {% endblock %}
          
          <!-- Endblock Pagecontent -->
      </div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    {% include 'partials/footer.html.twig' %}

  </div>
    
    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/scripts.js', 95) %}
        {% do assets.addJs('theme://js/main.min.js', 96) %}
        {% do assets.addJs('theme://js/vendors.min.js', 98) %}
        {% do assets.addJs('theme://js/polyfills.min.js', 97) %}
        {% do assets.addJs('theme://js/jquery.tablesorter.min.js', 99) %}
    {% endblock %}
    {{ assets.js() }}
    



</body>
