<footer>

      <!-- Footer Service-Navigation <div class="container-fluid footer-service">
        <h3>Statistik Schweiz</h3>
        <nav>
          <ul>
            <li><a href="#">Emergencies</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Media</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>-->

      <!-- Footer Socialmedia <div class="container-fluid">
        <h3>Informiert bleiben</h3>
        <nav class="links-social">
          <ul>
            <li><a class="icon icon--before icon--twitter" href="#">Twitter</a></li>
            <li><a class="icon icon--before icon--facebook" href="#">Facebook</a></li>
            <li><a class="icon icon--before icon--rss" href="#">RSS Feed</a></li>
            <li><a class="icon icon--before icon--message" href="#">Newsletter</a></li>
          </ul>
        </nav>
      </div>-->

      <address>
        <span class="hidden-xs">Anordnungen Verteidigung − Erstellung und Bewirtschaftung</span>
        <nav class="pull-right">
          <ul>
            <li><a href="{{ page.find('/impressum').url() }}">{{ "CDB.IMPR"|t }}</a></li>
          </ul>
        </nav>
      </address>
    </footer>