<p>
    <small class="hidden-print">
        <a href="#" class="icon icon--before icon--power">{{ "CDB.TOTOP"|t }}</a>
        <span class="text-dimmed">
            Zuletzt bearbeitet: {{ page.modified|date("d.m.Y") }}
        </span>
    </small>
</p>