 {% block sidebarnavleft %}
    <a href="#collapseSubNav" data-toggle="collapse" class="collapsed visible-xs" role="tab" aria-selected="false" aria-expanded="false" id="ui-collapse-648">Sub-Navigation</a>
            <div class="drilldown-container">
              <nav class="nav-page-list" role="navigation" id="secondary-navigation">
                <!--<a href="#" class="icon icon--before icon--less visible-xs">Back to parent</a>
                <a href="#" class="icon icon--before icon--less"><span class="sr-only">Back to </span>Comestible Goods</a>-->
                <ul>
                  <!-- the .list-emphasis class is optionnal -->
                  <li class="list-emphasis">
                    <!--<span>Drinks</span>-->
                    <ul>
                      <!-- add the .list-sub class if the list has some animated sub-lists -->
                      <!--<li class="list-sub"><a href="#">Mineral water</a>
                        <nav class="drilldown-sub" aria-expanded="false">
                          <a href="#" class="icon icon--before icon--less drilldown-back"><span class="sr-only">Back to </span>Mineral Water</a>
                          <ul>
                            <li><a href="#">Test</a></li>
                            <li><a href="#">Test2</a></li>
                            <li><a href="#">Test3</a></li>
                          </ul>
                        </nav>
                      </li>-->
                      <li class="active" aria-selected="true"><span>Deutsch<span class="sr-only"> active</span></span></li>
                      <li><a href="#">Beer</a></li>
                      <li><a href="#">Spirits</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>

            </div>
{% endblock sidebarnavleft %}