{% extends 'partials/base.html.twig' %}

{% block pagecontent %}
    {{ page.content }}
    
    {% block div %}
    <div class="auto">
    Hallo, ich bin ein DIV.
    </div>
    {% endblock %}
    
{% endblock %}
