{% extends 'partials/base.html.twig' %}

{% block pagecontent %}

    <!--Sitenavigation-->
    {% block sidebarleft %}
        <div class="col-sm-4 col-md-3 drilldown">
            
        </div>
    {% endblock sidebarleft %}
    <!-- END Sitenavigation -->
    
    <div class="col-sm-8 col-md-9" id="content">
        <div class="row">
                <div class="col-md-8">
                {% block content %}
            
                    {% include 'partials/page-content.html.twig' %}


                {% endblock content %}
                </div>
        

                {% block sidebarright %}

                    

                {% endblock sidebarright %}
    
        </div>
    </div>   

{% endblock pagecontent %}